/* Ajustes Generales */

body {
  font-family: sans-serif;
  font-size: 18px;
  background-color: #C0C0C0;
}
p {
  font-size: 30px;
}

b {
  font-size: 30px;
}

/* Hero Image (Slid de imagenes) */



/* Barra de navegación */

ul {
  list-style-type: none;
  margin-top: -8px;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FF8C00;
}

.active {
  background-color: #FF8C00;
}


/* Footer */

footer{
border: 1px solid black;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-align: center;
color: white;
background: #FF8C00;
vertical-align: middle;
padding: 20px;
margin: -8px;
}

.facebook:hover{
  transition: transform .2s;
  transform: scale(1.5);
}

.facebook{
  float:right;
  padding: 5px;
}

.twitter{
  float:right;
  padding: 5px;
}

.twitter:hover{
  transition: transform .2s;
  transform: scale(1.5);

}

.icono{
  float:left;
}
